
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 0 0 100px;
    background-color: #282c34;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

main {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.input-group {
    flex-direction: row;
}

input, button {
    font-size: xxx-large;
}

main > p {
    font-size: xxx-large;
}
